---
interface Props {
  /** Choose which logo to render */
  variant?: "navbar" | "footer";
  /** Optional link target for the logo */
  href?: string;
  /** Optional CSS class on the anchor */
  class?: string;
  /** Accessible label for the link */
  ariaLabel?: string;
  /** Width/height forwarded to <svg> for sizing control */
  width?: string;
  height?: string;
}

const {
  variant = "navbar",
  href = "/",
  class: className = "",
  ariaLabel = "PopCandi logo",
  width = "100%",
  height = "100%",
} = Astro.props as Props;
---

<a href={href} aria-label={ariaLabel} class={className}>
  {
    variant === "navbar" && (
      // Navbar Logo
      <svg
        width={width}
        height={height}
        viewBox="0 0 185 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <path d="M18.1917 0.5H16.7363V9.125H18.1917V0.5Z" fill="#265CFE" />
        <path d="M18.1917 26.375H16.7363V35H18.1917V26.375Z" fill="#265CFE" />
        <path
          d="M34.9281 17.0312H26.196V18.4687H34.9281V17.0312Z"
          fill="#265CFE"
        />
        <path d="M8.73201 17.0312H0V18.4687H8.73201V17.0312Z" fill="#265CFE" />
        <path
          d="M30.3259 6.06095L29.2969 5.04449L23.1225 11.1432L24.1515 12.1597L30.3259 6.06095Z"
          fill="#265CFE"
        />
        <path
          d="M11.8029 24.3562L10.7738 23.3397L4.5994 29.4385L5.62847 30.4549L11.8029 24.3562Z"
          fill="#265CFE"
        />
        <path
          d="M30.3271 29.4388L24.1527 23.3401L23.1236 24.3566L29.298 30.4553L30.3271 29.4388Z"
          fill="#265CFE"
        />
        <path
          d="M11.8042 11.1427L5.62976 5.04401L4.60069 6.06046L10.7751 12.1592L11.8042 11.1427Z"
          fill="#265CFE"
        />
        <path
          d="M54.2947 9.28811C56.5959 9.28811 58.4345 10.0847 59.811 11.6779C61.1874 13.271 61.8755 15.4272 61.8755 18.1461C61.8755 20.6314 61.2142 22.6707 59.8916 24.2639C58.569 25.857 56.7895 26.6536 54.5528 26.6536C52.3592 26.6536 50.6924 25.8252 49.5527 24.1683H49.4882V32.0067H44.9075V9.7342H49.2624V11.8372H49.3269C50.4237 10.1377 52.0797 9.28811 54.2947 9.28811ZM49.3269 18.0187C49.3269 19.633 49.671 20.9075 50.3592 21.8423C51.0474 22.777 52.0367 23.2442 53.327 23.2442C54.6604 23.2442 55.655 22.7769 56.3109 21.8423C56.9669 20.9076 57.2948 19.633 57.2948 18.0187C57.2948 16.3618 56.94 15.0606 56.2303 14.1154C55.5206 13.1702 54.5314 12.6975 53.2625 12.6975C51.9936 12.6975 51.0205 13.1648 50.3431 14.0995C49.6657 15.0341 49.3269 16.3406 49.3269 18.0187ZM72.7144 9.28811C75.3811 9.28811 77.4887 10.09 79.0371 11.6938C80.5855 13.2976 81.3597 15.3954 81.3597 17.9868C81.3597 20.5996 80.5694 22.6971 78.9887 24.2798C77.408 25.8625 75.3167 26.6536 72.7144 26.6536C70.0692 26.6536 67.9724 25.8517 66.424 24.2479C64.8756 22.6442 64.1014 20.5572 64.1014 17.9868C64.1014 15.3315 64.8917 13.2178 66.4724 11.646C68.053 10.0742 70.1337 9.28811 72.7144 9.28811ZM68.6821 17.9868C68.6821 19.6649 69.0262 20.9606 69.7144 21.8741C70.4025 22.7876 71.4026 23.2442 72.7144 23.2442C74.0693 23.2442 75.0854 22.7769 75.7629 21.8423C76.4403 20.9076 76.779 19.6225 76.779 17.9868C76.779 16.2874 76.4296 14.981 75.7306 14.0676C75.0317 13.1542 74.0156 12.6975 72.6822 12.6975C71.3918 12.6975 70.4026 13.1542 69.7144 14.0676C69.0261 14.981 68.6821 16.2874 68.6821 17.9868ZM93.7148 9.28811C96.016 9.28811 97.8545 10.0847 99.231 11.6779C100.607 13.271 101.296 15.4272 101.296 18.1461C101.296 20.6314 100.634 22.6707 99.3117 24.2639C97.9891 25.857 96.2095 26.6536 93.9729 26.6536C91.7793 26.6536 90.1125 25.8252 88.9728 24.1683H88.9083V32.0067H84.3275V9.7342H88.6824V11.8372H88.747C89.8438 10.1377 91.4998 9.28811 93.7148 9.28811ZM88.747 18.0187C88.747 19.633 89.0911 20.9075 89.7793 21.8423C90.4674 22.777 91.4567 23.2442 92.7471 23.2442C94.0804 23.2442 95.075 22.7769 95.731 21.8423C96.387 20.9076 96.7149 19.633 96.7149 18.0187C96.7149 16.3618 96.36 15.0606 95.6503 14.1154C94.9407 13.1702 93.9514 12.6975 92.6825 12.6975C91.4137 12.6975 90.4406 13.1648 89.7631 14.0995C89.0857 15.0341 88.747 16.3406 88.747 18.0187ZM112.038 9.28811C114.296 9.28811 116.135 9.8563 117.554 10.9928C118.973 12.1293 119.748 13.6427 119.877 15.5333H115.393C115.092 13.6427 113.962 12.6975 112.005 12.6975C110.801 12.6975 109.849 13.186 109.151 14.1632C108.452 15.1403 108.102 16.4362 108.102 18.0505C108.102 19.6012 108.435 20.8545 109.102 21.8104C109.769 22.7663 110.704 23.2442 111.909 23.2442C113.995 23.2442 115.21 22.129 115.554 19.8986H119.973C119.672 22.0865 118.817 23.7595 117.409 24.9171C116 26.0747 114.177 26.6536 111.941 26.6536C109.468 26.6536 107.446 25.873 105.876 24.3117C104.306 22.7504 103.521 20.7165 103.521 18.2098C103.521 15.4908 104.296 13.3242 105.844 11.7097C107.392 10.0952 109.457 9.28811 112.038 9.28811ZM130.232 9.28811C135.092 9.30936 137.522 10.8706 137.522 13.972V22.7026C137.522 24.3169 137.716 25.4853 138.103 26.2075H133.457C133.285 25.6977 133.178 25.1667 133.135 24.6144C131.78 25.9739 129.909 26.6536 127.522 26.6536C125.78 26.6536 124.398 26.2181 123.377 25.3472C122.355 24.4763 121.844 23.2654 121.844 21.7148C121.844 20.2066 122.328 19.0383 123.296 18.2098C124.285 17.3389 126.081 16.7866 128.683 16.5529C130.533 16.3618 131.705 16.1228 132.199 15.836C132.694 15.5492 132.941 15.1085 132.941 14.5137C132.941 13.7702 132.716 13.2179 132.264 12.8568C131.812 12.4957 131.06 12.3151 130.006 12.3151C129.038 12.3151 128.307 12.5116 127.812 12.9046C127.318 13.2976 127.027 13.9295 126.941 14.8005H122.36C122.468 12.9949 123.221 11.6248 124.619 10.6901C126.016 9.75539 127.887 9.28811 130.232 9.28811ZM126.425 21.5236C126.425 22.9256 127.361 23.6266 129.232 23.6266C131.683 23.6053 132.92 22.3627 132.941 19.8986V18.1461C132.576 18.5072 131.651 18.7727 130.167 18.9427C128.877 19.0914 127.93 19.3516 127.328 19.7233C126.726 20.0951 126.425 20.6952 126.425 21.5236ZM150.651 9.28811C152.78 9.28811 154.323 9.81924 155.28 10.8813C156.238 11.9433 156.716 13.6322 156.716 15.9475V26.2075H152.135V16.8716C152.135 15.5121 151.915 14.503 151.474 13.8446C151.033 13.1861 150.275 12.8568 149.2 12.8568C147.952 12.8568 147.049 13.2285 146.49 13.972C145.931 14.7155 145.651 15.9369 145.651 17.6363V26.2075H141.07V9.7342H145.425V12.0284H145.522C146.662 10.2015 148.372 9.28811 150.651 9.28811ZM176.458 3.45712V26.2075H172.103V24.1046H172.039C171.049 25.804 169.361 26.6536 166.974 26.6536C164.673 26.6536 162.851 25.8252 161.506 24.1683C160.162 22.5114 159.49 20.3979 159.49 17.8275C159.49 15.321 160.173 13.271 161.539 11.6779C162.904 10.0847 164.684 9.28811 166.877 9.28811C167.888 9.28811 168.84 9.49522 169.732 9.90944C170.625 10.3237 171.318 10.9344 171.813 11.7416H171.877V3.45712H176.458ZM164.071 17.9549C164.071 19.4631 164.431 20.7218 165.152 21.7307C165.872 22.7397 166.856 23.2442 168.103 23.2442C169.415 23.2442 170.399 22.7716 171.055 21.8263C171.711 20.881 172.039 19.58 172.039 17.9231C172.039 16.2662 171.695 14.981 171.006 14.0676C170.318 13.1542 169.34 12.6975 168.071 12.6975C166.759 12.6975 165.764 13.1754 165.087 14.1313C164.41 15.0872 164.071 16.3618 164.071 17.9549ZM184.62 3.45712V7.18513H180.039V3.45712H184.62ZM184.62 9.7342V26.2075H180.039V9.7342H184.62Z"
          fill="#2E3B5B"
        />
      </svg>
    )
  }
  {
    variant === "footer" && (
      // Footer Logo
      <svg
        width={width}
        height={height}
        viewBox="0 0 130 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <path
          d="M12.7144 0.888672H11.6973V6.91645H12.7144V0.888672Z"
          fill="white"
        />
        <path
          d="M12.7144 18.9722H11.6973V24.9999H12.7144V18.9722Z"
          fill="white"
        />
        <path
          d="M24.4112 12.4419H18.3086V13.4465H24.4112V12.4419Z"
          fill="white"
        />
        <path d="M6.10256 12.4419H0V13.4465H6.10256V12.4419Z" fill="white" />
        <path
          d="M21.1938 4.77483L20.4746 4.06445L16.1595 8.32669L16.8787 9.03707L21.1938 4.77483Z"
          fill="white"
        />
        <path
          d="M8.24848 17.561L7.5293 16.8506L3.21417 21.1128L3.93336 21.8232L8.24848 17.561Z"
          fill="white"
        />
        <path
          d="M21.194 21.1133L16.8789 16.8511L16.1597 17.5614L20.4748 21.8237L21.194 21.1133Z"
          fill="white"
        />
        <path
          d="M8.24872 8.32669L3.93359 4.06445L3.21441 4.77483L7.52953 9.03707L8.24872 8.32669Z"
          fill="white"
        />
        <path
          d="M37.9453 7.03068C39.5535 7.03068 40.8384 7.58739 41.8004 8.70081C42.7624 9.81423 43.2433 11.3211 43.2433 13.2213C43.2433 14.9582 42.7811 16.3834 41.8568 17.4968C40.9324 18.6103 39.6888 19.167 38.1256 19.167C36.5926 19.167 35.4277 18.588 34.6312 17.43H34.5861V22.9081H31.3848V7.34244H34.4283V8.81216H34.4734C35.2399 7.62447 36.3972 7.03068 37.9453 7.03068ZM34.4734 13.1322C34.4734 14.2605 34.7139 15.1512 35.1948 15.8044C35.6758 16.4577 36.3672 16.7842 37.269 16.7842C38.2008 16.7842 38.8959 16.4576 39.3543 15.8044C39.8128 15.1512 40.0419 14.2605 40.0419 13.1322C40.0419 11.9743 39.794 11.0649 39.298 10.4043C38.802 9.74375 38.1107 9.4134 37.2239 9.4134C36.3371 9.4134 35.657 9.74001 35.1836 10.3932C34.7101 11.0464 34.4734 11.9595 34.4734 13.1322ZM50.8183 7.03068C52.6819 7.03068 54.1549 7.59111 55.237 8.71195C56.3192 9.83278 56.8603 11.2989 56.8603 13.11C56.8603 14.936 56.3079 16.4019 55.2032 17.508C54.0985 18.614 52.637 19.167 50.8183 19.167C48.9696 19.167 47.5042 18.6065 46.4221 17.4857C45.3399 16.3649 44.7989 14.9064 44.7989 13.11C44.7989 11.2542 45.3512 9.77705 46.4559 8.67855C47.5606 7.58005 49.0147 7.03068 50.8183 7.03068ZM48.0002 13.11C48.0002 14.2827 48.2407 15.1883 48.7216 15.8267C49.2026 16.4651 49.9015 16.7842 50.8183 16.7842C51.7652 16.7842 52.4753 16.4576 52.9488 15.8044C53.4222 15.1512 53.6589 14.2531 53.6589 13.11C53.6589 11.9223 53.4147 11.0093 52.9262 10.3709C52.4377 9.73262 51.7276 9.4134 50.7957 9.4134C49.894 9.4134 49.2026 9.73258 48.7216 10.3709C48.2406 11.0093 48.0002 11.9223 48.0002 13.11ZM65.4949 7.03068C67.1031 7.03068 68.388 7.58739 69.35 8.70081C70.312 9.81423 70.7929 11.3211 70.7929 13.2213C70.7929 14.9582 70.3307 16.3834 69.4064 17.4968C68.482 18.6103 67.2384 19.167 65.6752 19.167C64.1422 19.167 62.9773 18.588 62.1808 17.43H62.1357V22.9081H58.9344V7.34244H61.9779V8.81216H62.023C62.7895 7.62447 63.9468 7.03068 65.4949 7.03068ZM62.023 13.1322C62.023 14.2605 62.2635 15.1512 62.7444 15.8044C63.2254 16.4577 63.9168 16.7842 64.8186 16.7842C65.7504 16.7842 66.4455 16.4576 66.9039 15.8044C67.3624 15.1512 67.5915 14.2605 67.5915 13.1322C67.5915 11.9743 67.3436 11.0649 66.8476 10.4043C66.3516 9.74375 65.6603 9.4134 64.7735 9.4134C63.8867 9.4134 63.2066 9.74001 62.7332 10.3932C62.2597 11.0464 62.023 11.9595 62.023 13.1322ZM78.3003 7.03068C79.8784 7.03068 81.1634 7.42777 82.1554 8.22204C83.1474 9.01631 83.6884 10.074 83.7786 11.3953H80.6449C80.4345 10.074 79.6454 9.4134 78.2777 9.4134C77.436 9.4134 76.7709 9.75484 76.2825 10.4377C75.7941 11.1207 75.5498 12.0263 75.5498 13.1545C75.5498 14.2382 75.7828 15.1141 76.2487 15.7822C76.7146 16.4502 77.3684 16.7842 78.2101 16.7842C79.6679 16.7842 80.5171 16.0049 80.7576 14.4461H83.8462C83.6358 15.9751 83.0384 17.1443 82.0539 17.9533C81.0695 18.7623 79.7956 19.167 78.2326 19.167C76.5042 19.167 75.0915 18.6214 73.9942 17.5302C72.897 16.4391 72.3485 15.0177 72.3485 13.2658C72.3485 11.3656 72.8895 9.85142 73.9717 8.72308C75.0538 7.59474 76.4967 7.03068 78.3003 7.03068ZM91.0155 7.03068C94.4123 7.04554 96.1105 8.13664 96.1105 10.3041V16.4057C96.1105 17.5339 96.2458 18.3505 96.5164 18.8552H93.2699C93.1497 18.4989 93.0746 18.1278 93.0445 17.7418C92.0976 18.6919 90.79 19.167 89.1217 19.167C87.9043 19.167 86.9386 18.8626 86.2247 18.254C85.5109 17.6453 85.1539 16.7991 85.1539 15.7154C85.1539 14.6613 85.492 13.8448 86.1684 13.2658C86.8597 12.6572 88.1148 12.2712 89.9333 12.1079C91.2259 11.9743 92.045 11.8073 92.3907 11.6068C92.7364 11.4064 92.9092 11.0984 92.9092 10.6827C92.9092 10.1631 92.7514 9.77714 92.4358 9.52475C92.1202 9.27236 91.5941 9.14618 90.8577 9.14618C90.1813 9.14618 89.6703 9.28351 89.3246 9.55815C88.9789 9.83278 88.776 10.2744 88.7159 10.8831H85.5146C85.5897 9.62128 86.1157 8.66374 87.0927 8.01049C88.0697 7.35725 89.3771 7.03068 91.0155 7.03068ZM88.3552 15.5818C88.3552 16.5616 89.009 17.0515 90.3166 17.0515C92.03 17.0366 92.8941 16.1681 92.9092 14.4461V13.2213C92.6537 13.4737 92.0074 13.6592 90.9704 13.778C90.0686 13.8819 89.4072 14.0638 88.9864 14.3236C88.5656 14.5834 88.3552 15.0028 88.3552 15.5818ZM105.286 7.03068C106.774 7.03068 107.853 7.40188 108.521 8.1441C109.19 8.88633 109.525 10.0666 109.525 11.6848V18.8552H106.323V12.3306C106.323 11.3804 106.169 10.6752 105.861 10.2151C105.553 9.75489 105.023 9.52475 104.272 9.52475C103.4 9.52475 102.769 9.78455 102.378 10.3041C101.987 10.8237 101.792 11.6773 101.792 12.865V18.8552H98.5905V7.34244H101.634V8.94577H101.702C102.498 7.66901 103.693 7.03068 105.286 7.03068ZM123.322 2.95557V18.8552H120.278V17.3855H120.233C119.542 18.5732 118.362 19.167 116.694 19.167C115.086 19.167 113.812 18.588 112.873 17.43C111.933 16.2721 111.463 14.795 111.463 12.9986C111.463 11.2469 111.941 9.81423 112.895 8.70081C113.849 7.58739 115.093 7.03068 116.626 7.03068C117.333 7.03068 117.998 7.17543 118.621 7.46492C119.245 7.75441 119.73 8.18123 120.076 8.74535H120.121V2.95557H123.322ZM114.665 13.0877C114.665 14.1417 114.917 15.0214 115.42 15.7265C115.924 16.4316 116.611 16.7842 117.483 16.7842C118.4 16.7842 119.087 16.4539 119.546 15.7933C120.004 15.1327 120.233 14.2234 120.233 13.0654C120.233 11.9075 119.993 11.0093 119.512 10.3709C119.031 9.73262 118.347 9.4134 117.46 9.4134C116.544 9.4134 115.848 9.74743 115.375 10.4155C114.902 11.0835 114.665 11.9743 114.665 13.0877ZM129.026 2.95557V5.56097H125.824V2.95557H129.026ZM129.026 7.34244V18.8552H125.824V7.34244H129.026Z"
          fill="white"
        />
      </svg>
    )
  }
</a>
